# Overwrite redirector
# Mainly because this node is used for NANO Cache, not like
# default used for MINIAOD
# Tried many hacks - like set VAR=VALUE, if-else-if
# But most of the features are not really working like in condor config.d way...
all.manager xcache-redirector.t2.ucsd.edu+ 2041
